.textAreaContainer {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
}

.text-area {
    width: 50em;
    height: 80em;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin: 20px 20px;
    outline: none;
    padding: 2em;
  }